<% include ../partials/header %>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Comment API</h1>
      <br>
      <a href="https://github.com/jeanmw/comment-box-api" class="btn btn-lg btn-default"><i class="fa fa-github"></i> View the Repo</a>
    </div>
  </div>

<% include ../partials/footer %>
